// Styles
//
// The framework has various styles that can be applied to elements to give them certain visual styling.



// Card Border
$card-border-radius:                    .25em !default;
$card-container-border-inverted:        none;

$card-container-border:                 1px $color-grey-extra-light solid;
$card-container-border-inverted:        none;

// ------------------------------------------------------------------------------------------------------------------

// Text Color styles

// This manipulates the color of buttons on specific styles below
%light-text {
  color: #eaeaea;
}


// ------------------------------------------------------------------------------------------------------------------

// Style Colors

.container,
.card,
.button,
.label {

  // Corner Radius
  .square {
    border-radius: 0;
  }
  .rounded {
    border-radius: $card-border-radius;
  }
  .circular {
    border-radius: 99999px;
  }

  // Basic Colors
  &.black {
    @extend %light-text;
    $color: $color-black;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.white {
    $color: $color-white;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.grey {
    $color: $color-grey;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
      @extend %light-text;
    }
  }
  &.red {
    @extend %light-text;
    $color: $color-red;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.orange {
    @extend %light-text;
    $color: $color-orange;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.yellow {
    @extend %light-text;
    $color: $color-yellow;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.olive {
    @extend %light-text;
    $color: $color-olive;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.green {
    @extend %light-text;
    $color: $color-green;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.teal {
    @extend %light-text;
    $color: $color-teal;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.blue {
    @extend %light-text;
    $color: $color-blue;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.violet {
    @extend %light-text;
    $color: $color-violet;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.purple {
    @extend %light-text;
    $color: $color-purple;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.pink {
    @extend %light-text;
    $color: $color-pink;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.brown {
    @extend %light-text;
    $color: $color-brown;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }

  // Site Colors
  &.primary {
    @extend %light-text;
    $color: $color-primary;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.secondary {
    @extend %light-text;
    $color: $color-secondary;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.emphasis {
    @extend %light-text;
    $color: $color-emphasis;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.emphasis-secondary {
    @extend %light-text;
    $color: $color-emphasis-secondary;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }

  // Disabled
  &.disabled, &.disabled:hover {
    opacity: 0.5;
    cursor: default;
  }

  // Notification Colors
  &.success {
    @extend %light-text;
    $color: $color-success;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.info {
    @extend %light-text;
    $color: $color-info;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.warning {
    @extend %light-text;
    $color: $color-warning;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }
  &.danger {
    @extend %light-text;
    $color: $color-danger;
    background: colorset($color);
    &.light {
      background: colorset($color, light);
    }
    &.dark {
      background: colorset($color, dark);
    }
  }

  &.outlined {
    border: solid $color-grey-light 1px;
  }

  // Strength based classes
  &.weak {
    background: $color-grey-light;
    color: $text-color-strong-inverted;
  }

  &.strong {
    background: rgba($color-primary, .85);
    color: $text-color-strong-inverted;
  }

}

