// Styles
//
// The framework has various styles that can be applied to elements to give them certain visual styling.



// Card Border
$card-border-radius:                    .25em !default;
$card-container-border-inverted:        none;

$card-container-border:                 1px $color-grey-extra-light solid;
$card-container-border-inverted:        none;

// ------------------------------------------------------------------------------------------------------------------

// Text Color styles

// This manipulates the color of buttons on specific styles below
%light-text {
  color: #eaeaea;
}


// ------------------------------------------------------------------------------------------------------------------

// Style Colors

.container,
.card,
.button,
.label {

  // Corner Radius
  .square {
    border-radius: 0;
  }
  .rounded {
    border-radius: $card-border-radius;
  }
  .circular {
    border-radius: 99999px;
  }

  // Basic Colors
  &.black {
    background: $color-black;
    @extend %light-text;
  }
  &.white {
    background: $color-white;
  }
  &.extra.light.grey {
    background: $color-grey-extra-light;
  }
  &.light.grey {
    background: $color-grey-light;
  }
  &.grey {
    background: $color-grey;
  }
  &.dark.grey {
    background: $color-grey-dark;
    @extend %light-text;
  }
  &.extra.dark.grey {
    background: $color-grey-extra-dark;
    @extend %light-text;
  }
  &.red {
    background: $color-red;
    @extend %light-text;
  }
  &.orange {
    background: $color-orange;
    @extend %light-text;
  }
  &.yellow {
    background: $color-yellow;
  }
  &.olive {
    background: $color-olive;
    @extend %light-text;
  }
  &.green {
    background: $color-green;
    @extend %light-text;
  }
  &.teal {
    background: $color-teal;
    @extend %light-text;
  }
  &.blue {
    background: $color-blue;
    @extend %light-text;
  }
  &.violet {
    background: $color-violet;
    @extend %light-text;
  }
  &.purple {
    background: $color-purple;
    @extend %light-text;
  }
  &.pink {
    background: $color-pink;
    @extend %light-text;
  }
  &.brown {
    background: $color-brown;
    @extend %light-text;
  }

  // Conditional Colors
  &.primary {
    background: $color-primary;
    @extend %light-text;
  }
  &.secondary {
    background: $color-secondary;
    @extend %light-text;
  }
  &.emphasis {
    background: $color-emphasis;
    @extend %light-text;
  }
  &.emphasis-secondary {
    background: $color-secondary;
    @extend %light-text;
  }

  // Disabled
  &.disabled, &.disabled:hover {
    opacity: 0.5;
    cursor: default;
  }

  // Notification Colors
  &.success {
    background: $color-success-weak;
    @extend %light-text;
  }
  &.info {
    background: $color-info-weak;
    @extend %light-text;
  }
  &.warning {
    background: $color-warning-weak;
    @extend %light-text;
  }
  &.danger {
    background: $color-danger-weak;
    @extend %light-text;
  }

  &.outlined {
    border: solid $color-grey-light 1px;
  }

  // Strength based classes
  &.weak {
    background: $color-grey-light;
    color: $text-color-strong-inverted;
  }

  &.strong {
    background: rgba($color-primary, .85);
    color: $text-color-strong-inverted;
  }

}