//
// Base Variables
//

// ------------------------------------------------------------------------------------------------------------------

// 1. Options
//
// Quickly set global options to control overall stylings

$enable-ninja-forms                         : true !default; // ** Function to be added
$enable-round-edges-on-cards                : true !default; // ** Function to be added
$color-class-nesting-depth                  : 3 !default; // ** Function to be added

$default-card-border-radius                 : '.rounded' !default;
$default-button-border-radius               : '.circular' !default;


// 2. Colors
//
// Basic colors including greyscale, rainbow colors and branding

// Greyscale
$color-white                                : rgb(255, 255, 255) !default;
$color-grey-extra-light                     : rgb(246, 246, 246) !default;
$color-grey-light                           : rgb(221, 221, 221) !default;
$color-grey                                 : rgb(161, 161, 161) !default;
$color-grey-dark                            : rgb(99, 99, 99) !default;
$color-grey-extra-dark                      : rgb(29, 29, 29) !default;
$color-black                                : rgb(0, 0, 0) !default;



// Basic Colors
$color-red                                  : #b00c00 !default;
$color-orange                               : #fe9400 !default;
$color-yellow                               : #ffe63b !default;
$color-olive                                : #6bcd57 !default;
$color-green                                : #126935 !default;
$color-teal                                 : #008080 !default;
$color-blue                                 : #118db8 !default;
$color-violet                               : #EE82EE !default;
$color-purple                               : #B413EC !default;
$color-pink                                 : #FF1493 !default;
$color-brown                                : #583e00 !default;

// Brand Colors
$color-brand-1                              : rgb(254, 83, 57) !default;
$color-brand-2                              : rgb(82, 240, 212) !default;
$color-brand-3                              : rgb(43, 44, 49) !default;

// Site Colors
//
// These colors are the default control for many of the websites colors.
//
// @param $color-primary        Usually a main brand color, this is a vocal color so it needs to stand our compared to the secondary color
// @param $color-secondary      A complimentary color to the primary color, this is usually a darker brand color
// @param $color-accent         A bright color that is used in areas such as call to actions

$color-primary                              : $color-brand-1 !default;
$color-secondary                            : $color-brand-3 !default;
$color-accent                               : $color-brand-2 !default;

// Notification Colors
$color-success                              : #5be846 !default;
$color-info                                 : #007DE8 !default;
$color-warning                              : #FF7300 !default;
$color-danger                               : #FF0000 !default;

// Disabled
$text-color-disabled                        : lighten($color-grey-light, 2%) !default;
$color-background-disabled                  : lighten($color-grey-extra-light, 5%) !default;
$color-border-disabled                      : lighten($color-grey-light, 5%) !default;

// Text colors
$text-color-weak                            : rgba($color-black, .5) !default;
$text-color                                 : rgba($color-black, .8) !default;
$text-color-strong                          : rgba($color-black, 1) !default;

$text-color-weak-inverted                   : rgba($color-white, .6) !default;
$text-color-inverted                        : rgba($color-white, .8) !default;
$text-color-strong-inverted                 : rgba($color-white, 1) !default;


// 3. Spacing
//
// Set the global spacing units. Elements use these values as required to generate tidy and consistent spacing.

// Spacial Unit Size
$unit                                       : 2.5em !default;

// Standard Sizing
$standard-field-height                      : 4.2rem !default;

// Container Box Sizing
$container-max-width                        : 1100px !default;

// Navbar Height
$height-nav-bar                             : 85px !default;


// 4. Icons
//
//

// Icon Family
$icon-font-family                           : FontAwesome !default;










// 10. Media Breakpoints
//
// Default Breakpoints
// Setting globals breakpoints allows for consistent timing of object scaling.
// Refer to http://include-media.com/ for information

$mobile-sml                                 : 320px !default;
$mobile-med                                 : 375px !default;
$mobile-lrg                                 : 425px !default;
$tablet-sml                                 : 620px !default;
$tablet-med                                 : 720px !default;
$tablet-lrg                                 : 768px !default;
$desktop-sml                                : 1024px !default;
$desktop-med                                : 1440px !default;
$desktop-lrg                                : 1920px !default;
$desktop-xlrg                               : 2560px !default;

$breakpoints: (
    'mobile-sml'                            : $mobile-sml,
    'mobile-med'                            : $mobile-med,
    'mobile-lrg'                            : $mobile-lrg,
    'tablet-sml'                            : $tablet-sml,
    'tablet-med'                            : $tablet-med,
    'tablet-lrg'                            : $tablet-lrg,
    'desktop-sml'                           : $desktop-sml,
    'desktop-med'                           : $desktop-med,
    'desktop-lrg'                           : $desktop-lrg,
    'desktop-xlrg'                          : $desktop-xlrg
);

// Sidebar Box Sizing
$sidebar-side                               : left !default;
$sidebar-width                              : 600px !default;
$sidebar-max-width                          : 80% !default;
$sidebar-breakpoint                         : $desktop-lrg !default;

// Device defined breakpoints
$mobile-breakpoint                          : '<mobile-lrg';
$tablet-breakpoint                          : '>=mobile-lrg', '<tablet-lrg';
$desktop-breakpoint                         : '>=tablet-lrg', '<desktop-med';
$large-desktop-breakpoint                   : '>=desktop-med';


// 11. Z-index master list
//
// This list controls the z-index of components to avoid overlap of elements.
// Warning: change item values on this list with caution



$z-index-navbar                              : 1040 !default;
$z-index-loader                              : 1050 !default;
$z-index-sidebar                             : 1060 !default;
$z-index-popup                               : 1070 !default;
$z-index-tooltip                             : 1080 !default;

// ------------------------------------------------------------------------------------------------------------------

// Border
$standard-border                            : 1px rgba($color-black, 0.1) solid;
$standard-border-inverted                   : 1px rgba($color-black, 0.1) solid;

// Border Radius
$border-radius                              : 2px !default;
$border                                     : 1px solid rgba($color-black, .2);
$border-inverted                            : 1px solid rgba($color-white, .2);

// Disabled Opacity
$opacity-disabled                           : .5;

// Tag
$color-tag                                  : $color-primary;
$color-tag-hover                            : $color-accent;
$color-tag-inverted                         : $color-grey-extra-light;
$color-tag-hover-inverted                   : $color-accent;


#page-content {

  //background: colorset($color-emphasis, extradark);

}