// Standard Button & Defaults

// Button Font
//$button-typography                            : '.font.label' !default;
$button-text-align                            : center !default;

// Button Margins & Padding
$button-margin-vertical                       : .3 !default;
$button-margin-horizontal                     : 0 !default;
$button-height                                : $standard-field-height !default;
$button-padding-horizontal                    : .75 !default;

// Button Colors
$button-color                                 : rgba($color-black, 1) !default;
$button-background                            : rgba($color-grey-extra-light, 1) !default;

// Button Border
$button-border-radius                         : 2px !default;
$button-border                                : none !default;
$button-border-hover                          : none !default;

// ------------------------------------------------------------------------------------------------------------------ */

// Emphasis Button Colors
$button-action-color                        : rgba($color-black, .8);
$button-action-color-hover                  : rgba($color-black, 1);
$button-action-background                   : rgba($color-accent, 0);
$button-action-background-hover             : rgba($color-accent, 1);

$button-action-color-inverted               : rgba($color-white, .8);
$button-action-color-inverted-hover         : rgba($color-white, 1);
$button-action-background-inverted          : rgba($color-accent, 0);
$button-action-background-inverted-hover    : rgba($color-accent, 1);

// Emphasis Button Border
$button-action-border-radius                : 2px !default;
$button-action-border                       : 1px solid rgba($color-black, .7);
$button-action-border-hover                 : 1px solid rgba($color-accent, 1);
$button-action-border-inverted              : 1px solid rgba($color-white, .7);
$button-action-border-inverted-hover        : 1px solid rgba($color-accent, 1);

// ------------------------------------------------------------------------------------------------------------------ */

// Standard Button Classes
.button a,
a.button,
input[type="submit"],
input[type="button"] {

  /* Positioning */
  vertical-align: baseline;
  @include margin($button-margin-vertical, $button-margin-horizontal);

  /* Box-model */
  min-height: $button-height;
  max-width: 100%;
  @include padding( 0, $button-padding-horizontal);
  white-space: normal;

  // Position the text
  @include flexbox;
  @include align-items(center);
  @include justify-content($button-text-align);

  /* Typography */

  /* Visual */
  border-radius: $button-border-radius;
  outline: none;
  text-shadow: none;
  text-decoration: none;
  box-shadow: none;

  // Normal
  @include style(normal) {
    opacity: 0.9;
    color: $button-color;
    background: $button-background;
  }
  // Normal Hover
  @include style(hover) {
    opacity: 1;
  }

  /* Misc */
  cursor: pointer;
  @extend .animate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}


// ------------------------------------------------------------------------------------------------------------------

// Action Button

.button.action a,
a.button.action,
input.button.action {
  /* Visual */
  border-radius: $button-action-border-radius;

  // Normal
  @include style(normal) {
    opacity: 0.9;
  }
  // Normal Hover
  @include style(hover) {
    opacity: 1;
  }
}
