// Standard Button & Defaults

// Button Font
//$button-typography                  : '.font.label' !default;
$button-text-align                  : center !default;

// Button Margins & Padding
$button-margin-vertical             : .3 !default;
$button-margin-horizontal           : 0 !default;
$button-height                      : $standard-field-height !default;
$button-padding-horizontal          : .75 !default;

// Button Colors
$button-color                       : rgba($color-black, .6) !default;
$button-color-hover                 : rgba($color-white, 1) !default;
$button-background                  : rgba($color-black, .1) !default;
$button-background-hover            : $color-emphasis !default;

$button-color-inverted              : rgba($color-black, .6) !default;
$button-color-inverted-hover        : rgba($color-white, 1) !default;
$button-background-inverted         : rgba($color-white, .9) !default;
$button-background-inverted-hover   : $color-emphasis !default;

// Button Border
$button-border-radius               : 2px !default;
$button-border                      : none !default;
$button-border-inverted             : none !default;
$button-border-hover                : none !default;
$button-border-inverted-hover       : none !default;

// ------------------------------------------------------------------------------------------------------------------ */

// Emphasis Button Colors
$button-emphasis-color                        : rgba($color-black, .8);
$button-emphasis-color-hover                  : rgba($color-black, 1);
$button-emphasis-background                   : rgba($color-emphasis, 0);
$button-emphasis-background-hover             : rgba($color-emphasis, 1);

$button-emphasis-color-inverted               : rgba($color-white, .8);
$button-emphasis-color-inverted-hover         : rgba($color-white, 1);
$button-emphasis-background-inverted          : rgba($color-emphasis, 0);
$button-emphasis-background-inverted-hover    : rgba($color-emphasis, 1);

// Emphasis Button Border
$button-emphasis-border-radius                : 2px !default;
$button-emphasis-border                       : 1px solid rgba($color-black, .7);
$button-emphasis-border-hover                 : 1px solid rgba($color-emphasis, 1);
$button-emphasis-border-inverted              : 1px solid rgba($color-white, .7);
$button-emphasis-border-inverted-hover        : 1px solid rgba($color-emphasis, 1);


// Standard Button Classes
.button a, // This allows defining from a parent element such as a menu list item
a.button,
input[type="submit"],
input[type="button"] {

  /* Positioning */
  vertical-align: baseline;
  @include margin($button-margin-vertical, $button-margin-horizontal);

  /* Box-model */
  min-height: $button-height;
  max-width: 100%;
  @include padding( 0, $button-padding-horizontal);
  white-space: normal;

  // Center the text
  @include flexbox;
  @include align-items(center);

  /* Typography */
 // @extend #{$button-typography};
  //text-align: $widget-heading-text-align;

  /* Visual */
  border-radius: $button-border-radius;
  outline: none;
  text-shadow: none;
  text-decoration: none;
  box-shadow: none;

  // Normal
  @include style(normal){
    color: $button-color;
    background: $button-background;
    border: $button-border;
  }
  // Normal Hover
  @include style(hover){
    background: $button-background-hover;
    color: $button-color-hover;
    border: $button-border-hover;
  }
  // Inverted
  @include style(inverted){
    color: $button-color-inverted;
    background: $button-background-inverted;
    border: $button-border-inverted;
  }
  // Inverted Hover
  @include style(inverted-hover){
    color: $button-color-inverted-hover;
    background: $button-background-inverted-hover;
    border: $button-border-inverted-hover;
  }

  /* Misc */
  cursor: pointer;
  @extend .animate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}


// ------------------------------------------------------------------------------------------------------------------

// Action Button

.button.emphasis a,
a.button.emphasis,
input.button.emphasis {
  /* Visual */
  border-radius: $button-emphasis-border-radius;

  // Normal
  @include style(normal){
    color: $button-emphasis-color;
    background: $button-emphasis-background;
    border: $button-emphasis-border;
  }
  // Normal Hover
  @include style(hover){
    background: $button-emphasis-background-hover;
    color: $button-emphasis-color-hover;
    border: $button-emphasis-border-hover;
  }
  // Inverted
  @include style(inverted){
    color: $button-emphasis-color-inverted;
    background: $button-emphasis-background-inverted;
    border: $button-emphasis-border-inverted;
  }
  // Inverted Hover
  @include style(inverted-hover){
    color: $button-emphasis-color-inverted-hover;
    background: $button-emphasis-background-inverted-hover;
    border: $button-emphasis-border-inverted-hover;
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Disabled Button

.button.disabled a,
a.button.disabled,
input.button.disabled {

}