// Image

// Image Place Holder
$color-image-placeholder                : rgba($color-grey-extra-light, .05);


// Default Image Settings
img {
  position: relative;
  display: block;
  vertical-align: middle;
  background-color: $color-image-placeholder;
  margin: .15em 0 .5em;
}

img.disabled {
  @include opacity($opacity-disabled);
}



//* Captions
img {
  max-width:100% !important;
  height:auto !important;
}

.wp-caption {
  margin: 0;
  border-radius: $border-radius;
  overflow: hidden;
  border: $border;
  img {
    margin: 0;
  }
  .wp-caption-text {
    font-size: font-size - 0.1;
    margin: .5em;
  }
}



//* Alignment
.alignleft {
  float: left;
  margin-right: .5em;
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}

.alignright {
  float: right;
  margin-left: .5em;
}




//* Full Width Image
figure.alignnone,
figure.aligncenter,
p[style="text-align: center;"] {
  border: 0;
  border-radius: 0;
  width: auto !important;
  img {
    margin: 0 auto;
  }
  @include media('>tablet-lrg'){
    figcaption {
      text-align: center;
      color: $text-color-weak;
     // padding: 0px $one-quarter;
    }
  }
}






//* Gallery
.gallery {

  img {
    margin: 0;
  }

  .gallery-item {
    display: inline-block;
    margin: 0;
  }

  &.gallery-columns-4 .gallery-item {
    width: 25%;
  }
}


// Fitted Image
//
// The fitted image class must be applied to a div wrapper of an image.
// This will center and crop the image within the container.
.image.fitted  {
  position: relative;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  > img {

    position: absolute;
    margin: 0;

    top: 50%;
    left: 50%;

    min-height: 100% !important;
    min-width: 100% !important;
    width: auto !important;
    max-width: none !important;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.background.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}