
// Special styling for times
//
// :before  - Add clock icon inline with text
time,
.time {
  &:before {
    content: '\f017';
    font-family: $font-family;
    @include padding-right(0.2);
    @include font-size(1.9);
  }
}

// Tag / label style text
//
//
*[rel~="tag"] {
  border-radius: $border-radius;

  display: inline-block;
  @include padding(0.3, 1);
  @include margin(0.25);

  text-transform: uppercase;
  @include letter-spacing(0.15);
  font-weight: $font-weight;

  @include style(normal){
    color: $text-color-strong-inverted;
    background-color: $color-tag;
  }
  @include style(hover){
    color: $text-color-strong-inverted;
    background-color: lighten($color-tag-hover, 10%);
  }
  @include style(inverted){
    color: $text-color-strong;
    background-color: $color-tag-inverted;
  }
  @include style(inverted-hover){
    color: $text-color-strong;
    background-color: lighten($color-tag-hover-inverted, 10%);
  }
}


// Tags
.label {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  @include padding( .2, .5);
  @include margin( .075, 0);

  // Add spacing between labels
  @include margin-right(.15);
  > .right & {
    @include margin-right(0);
    @include margin-left(.15);
  }

  // Default label
  background: rgba($color-grey-extra-light, 1);
  color: $text-color;

}
