// Lists

// List Indent & Spacing
$list-indent:                       2em !default;
$list-margin-top:                   1em !default;
$list-margin-bottom:                1em !default;

// ------------------------------------------------------------------------------------------------------------------

// Unstyled List
.unstyled-list, aside, nav, footer {
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

// List basics
ol, ul {
  margin: $paragraph-margin-top 0 $paragraph-margin-bottom 0;
  padding-left: $list-indent;
  ol, ul {
    margin: $list-margin-top 0 $list-margin-bottom;
  }
}