//
// Typography
//
// For typography css references see http://cssreference.io/typography/

// ------------------------------------------------------------------------------------------------------------------

// Font Scaling
$font-size-extra-small                      : .6rem !default;
$font-size-small                            : .8rem !default;
$font-size-normal                           : 1rem !default;
$font-size-large                            : 1.2rem !default;
$font-size-extra-large                      : 1.4rem !default;

.extra.small {
  font-size: $font-size-extra-small;
}
.small {
  font-size: $font-size-small;
}
.normal {
  font-size: $font-size-normal;
}
.large {
  font-size: $font-size-large;
}
.extra.large {
  font-size: $font-size-extra-large;
}

// ------------------------------------------------------------------------------------------------------------------

// Defaults
//
// These are the basic website default styles. Defined below are only most basic elements.
// Intended to minimise and simply typography management.

// Basics
$font-family:                                 "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !default;
$font-size:                                   1.6em !default;
$font-weight:                                 400 !default;
$letter-spacing:                              .0em !default;
$line-height:                                 1.35 !default;
$text-align:                                  left !default;
$text-decoration:                             none !default;
$text-indent:                                 0 !default;
$text-overflow:                               clip !default;
$text-transform:                              none !default;

// Emphasis
$font-weight-emphasis:                        bolder !default;
$font-style-emphasis:                         italic !default;

// Strong
$font-weight-strong:                          bolder !default;

// Bold
$font-weight-bold:                            bolder !default;

// Italic
$font-style-italic:                           italic !default;

// Underline
$text-decoration-underline:                   underline !default;

// Text colors
$text-color-weak:                             $color-grey !default;
$text-color:                                  $color-grey-extra-dark !default;
$text-color-strong:                           $color-black !default;

$text-color-weak-inverted:                    $color-grey !default;
$text-color-inverted:                         $color-grey-light !default;
$text-color-strong-inverted:                  $color-white !default;


// ------------------------------------------------------------------------------------------------------------------

// Headings
$font-size-h1:                                3.6em !default;
$font-size-h2:                                3.0em !default;
$font-size-h3:                                2.0em !default;
$font-size-h4:                                1.6em !default;
$font-size-h5:                                1.4em !default;
$font-size-h6:                                1.2em !default;

// Paragraph spacing
$paragraph-margin-top:                        .5em !default;
$paragraph-margin-bottom:                     .5em !default;







// Anchor Link
$font-link-decoration                       : none !default;
$font-link-decoration-hover                 : none !default;

$text-color-link                            : $color-emphasis !default;
$text-color-link-visited                    : darken( $color-emphasis, 0% ) !default;
$text-color-link-hover                      : darken( $color-emphasis, 10% ) !default;

$text-color-link-inverted                   : $color-emphasis-secondary !default;
$text-color-link-visited-inverted           : darken( $color-emphasis-secondary, 0% ) !default;
$text-color-link-hover-inverted             : darken( $color-emphasis-secondary, 10% ) !default;

// Selection Highlight
$text-color-selection                       : $text-color-strong-inverted !default;
$text-color-selection-background            : $color-primary !default;

// Code & Pre
$code-background                            : $color-grey-extra-light !default;
$code-color                                 : $color-grey-extra-dark !default;
$code-border                                : none !default;
$code-border-radius                         : 2px !default;
$code-padding                               : .1 !default;

// ------------------------------------------------------------------------------------------------------------------

body {
  font-size: $font-size;
}

body,
p,
span,
section,
h1, h2, h3, h4, h5, h6 {

  // Basics
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-align: $text-align;
  text-decoration: $text-decoration;
  text-indent: $text-indent;
  text-overflow: $text-overflow;
  text-transform: $text-transform;

  // Normal
  @include style(normal){
    color: $text-color;
  }
  // Inverted
  @include style(inverted){
    color: $text-color-inverted;
  }

  // Emphasis
  em {
    font-weight: $font-weight-emphasis;
    font-style: $font-style-emphasis;
  }

  // Strong
  strong {
    font-weight: $font-weight-strong;
  }

  // Bold
  b {
    font-weight: $font-weight-bold;
  }

  // Italic
  i {
    font-style: $font-style-italic;
  }

  // Underline
  u {
    text-decoration: $text-decoration-underline;
  }

  // Left Align Text (Default)
  &.left,
  .left > & {
    text-align: left;
  }

  // Center Align Text
  &.centered,
  .centered > & {
    text-align: center;
  }

  // Right Align Text
  &.right,
  .right > & {
    text-align: right;
  }

  // Justify Align Text
  &.justified,
  .justified > & {
    text-align: justify;
  }

}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 0;

  + h1, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 0;
  }
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

// ------------------------------------------------------------------------------------------------------------------

// Links

a {

  // Normal
  @include style(normal) {
    color: $text-color-strong;
    text-decoration: $font-link-decoration;
  }
  // Normal Hover
  @include style(hover) {
    color: $text-color-link-hover;
    text-decoration: $font-link-decoration-hover;
  }
  // Inverted
  @include style(inverted) {
    color: $text-color-strong-inverted;
  }
  // Inverted Hover
  @include style(inverted-hover) {
    color: $text-color-link-hover-inverted;
  }

  //* Link Style inside content area
  // Normal
  article p & {
    @include style(normal) {
      color: $text-color-link;
    }
    // Normal Hover
    @include style(hover) {
      color: $text-color-link-hover;
    }
    // Inverted
    @include style(inverted) {
      color: $text-color-link-inverted;
    }
    // Inverted Hover
    @include style(inverted-hover) {
      color: $text-color-link-hover-inverted;
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Selection Highlighting

::-moz-selection,
input::-moz-selection,
textarea::-moz-selection {
  background-color: $text-color-selection-background;
  color: $text-color-selection;
}
::selection,
input::selection,
textarea::selection {
  background-color: $text-color-selection-background;
  color: $text-color-selection;
}

// ------------------------------------------------------------------------------------------------------------------

// Horizontal Rule

hr {
  border: none;
  border-bottom: $border;
  .inverted & {
    border-top: $border-inverted;
  }

  &.fluid {
    @extend .fluid;
  }

  &.padded {
    padding: 0;
    @include margin(1, 0);

    &.relaxed {
      padding: 0;
      @include margin(2, 0);
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Code, Pre & Code Textarea

code {
  color: $code-color;
  background: $code-background;
  border: $code-border;
  border-radius: $code-border-radius;
  @include padding($code-padding);
}

pre {

}

textarea.code {
  overflow: visible;
  min-height: 300px;
  color: $code-color;
  background: $code-background;
  border: $code-border;
  border-radius: $code-border-radius;
  @include padding($code-padding);
  font-size: 1em;
  font-family: "Courier New";
}


// Tags
.label {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  @include padding( .2, .5);
  @include margin( .075, 0);

  // Add spacing between labels
  @include margin-right(.15);
  > .right & {
    @include margin-right(0);
    @include margin-left(.15);
  }

  // Default label
  background: rgba($color-grey-extra-light, 1);
  color: $text-color;

  // Make the label more subtle
  &.weak {
    background: $color-grey-light;
    color: $text-color-strong-inverted;
  }

  // Give the label more emphasis
  &.strong {
    background: rgba($color-primary, .85);
    color: $text-color-strong-inverted;
  }

  &:hover {
    background: rgba($color-emphasis, 1);
    color: $text-color-strong-inverted;
  }
}

// HTML Preview Area

#page-content {
  .html {

    // Borders
    border: solid $color-grey-light 1px;
    .container {
      border: solid $color-grey-light 1px;
    }

    > .label {
      @include margin-top(.7);
      &:first-of-type {
        @include margin-left(.6);
      }
    }

    // Grid Item Container Margins
    &:not(.example){
      .grid .item {
        padding: .1em;
      }
    }
  }

  // Section margins
  article {
    @include margin(2,0);

    > h3:first-child {
      border-bottom: solid $color-grey-light 1px;
      @include padding-bottom(.15);
      @include margin-bottom(.2);
    }

    > .example {
      @include margin-top(.5);
    }
  }
}






// ------------------------------------------------------------------------------------------------------------------

// Overriding Typography Classes

// No Spacing, removes all margins on item for snug fit.
.no.spacing {
  margin: 0;
}