//
// Typography
//
// For typography css references see http://cssreference.io/typography/

// ------------------------------------------------------------------------------------------------------------------

// Font Scaling
$font-size-extra-small                      : .6rem !default;
$font-size-small                            : .8rem !default;
$font-size-normal                           : 1rem !default;
$font-size-large                            : 1.2rem !default;
$font-size-extra-large                      : 1.4rem !default;

.extra.small {
  font-size: $font-size-extra-small;
}
.small {
  font-size: $font-size-small;
}
.normal {
  font-size: $font-size-normal;
}
.large {
  font-size: $font-size-large;
}
.extra.large {
  font-size: $font-size-extra-large;
}

// ------------------------------------------------------------------------------------------------------------------

// Defaults
//
// Website default font styles defined below. Use project specific stylesheet for special customisations

// Basics
$font-family                                : "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !default;
$font-size                                  : 1.6em !default;
$font-weight                                : 400 !default;
$letter-spacing                             : .0em !default;
$line-height                                : 1.35 !default;
$text-align                                 : left !default;
$text-decoration                            : none !default;
$text-indent                                : 0 !default;
$text-overflow                              : clip !default;
$text-transform                             : none !default;

// Emphasis
$font-weight-emphasis                       : bolder !default;

// Strong
$font-weight-strong                         : bolder !default;

// Bold
$font-weight-bold                           : bolder !default;

// Italic
$font-style-italic                          : italic !default;

// Underline
$text-decoration-underline                  : underline !default;

// Headings
$font-size-h1                               : 3.2em !default;
$font-size-h2                               : 2.4em !default;
$font-size-h3                               : 2.0em !default;
$font-size-h4                               : 1.6em !default;
$font-size-h5                               : 1.4em !default;
$font-size-h6                               : 1.2em !default;



// ------------------------------------------------------------------------------------------------------------------



$paragraph-margin-top                       : .5 !default;
$paragraph-margin-right                     : 0 !default;
$paragraph-margin-bottom                    : .5 !default;
$paragraph-margin-left                      : 0 !default;

$color-text-weak                            : $color-grey;
$color-text                                 : $color-grey-extra-dark;
$color-text-strong                          : $color-black;

$color-text-weak-inverted                   : $color-grey;
$color-text-inverted                        : $color-grey-light;
$color-text-strong-inverted                 : $color-white;

// Anchor Link
$font-link-decoration                       : none !default;
$font-link-decoration-hover                 : none !default;

$color-text-link                            : $color-emphasis;
$color-text-link-visited                    : darken( $color-emphasis, 0% );
$color-text-link-hover                      : darken( $color-emphasis, 10% );

$color-text-link-inverted                   : $color-emphasis-secondary;
$color-text-link-visited-inverted           : darken( $color-emphasis-secondary, 0% );
$color-text-link-hover-inverted             : darken( $color-emphasis-secondary, 10% );

// Selection Highlight
$color-text-selection                       : $color-text-inverted;
$color-text-selection-background            : $color-primary;

// Code & Pre
$code-background                            : $color-grey-extra-light !default;
$code-color                                 : $color-grey-extra-dark !default;
$code-border                                : none !default;
$code-border-radius                         : 2px !default;
$code-padding                               : .1 !default;

// ------------------------------------------------------------------------------------------------------------------

body {
  font-size: $font-size;
}

body,
p,
h1, h2, h3, h4, h5, h6 {

  // Basics
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-align: $text-align;
  text-decoration: $text-decoration;
  text-indent: $text-indent;
  text-overflow: $text-overflow;
  text-transform: $text-transform;

  // Normal
  @include style(normal){
    color: $color-text;
  }
  // Inverted
  @include style(inverted){
    color: $color-text-inverted;
  }

  // Emphasis
  em {
    font-weight: $font-weight-emphasis;
  }

  // Strong
  strong {
    font-weight: $font-weight-strong;
  }

  // Bold
  b {
    font-weight: $font-weight-bold;
  }

  // Italic
  i {
    font-style: $font-style-italic;
  }

  // Underline
  u {
    text-decoration: $text-decoration-underline;
  }

  // Center Text
  &.centered {
    text-align: center;
  }

  // Right Align Text
  &.right {
    text-align: right;
  }

}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

// ------------------------------------------------------------------------------------------------------------------

// Links

a {

  // Normal
  @include style(normal) {
    color: $color-text-strong;
    text-decoration: $font-link-decoration;
  }
  // Normal Hover
  @include style(hover) {
    color: $color-text-link-hover;
    text-decoration: $font-link-decoration-hover;
  }
  // Inverted
  @include style(inverted) {
    color: $color-text-strong-inverted;
  }
  // Inverted Hover
  @include style(inverted-hover) {
    color: $color-text-link-hover-inverted;
  }

  //* Link Style inside content area
  // Normal
  article p & {
    @include style(normal) {
      color: $color-text-link;
    }
    // Normal Hover
    @include style(hover) {
      color: $color-text-link-hover;
    }
    // Inverted
    @include style(inverted) {
      color: $color-text-link-inverted;
    }
    // Inverted Hover
    @include style(inverted-hover) {
      color: $color-text-link-hover-inverted;
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Selection Highlighting

::-moz-selection,
input::-moz-selection,
textarea::-moz-selection {
  background-color: $color-text-selection-background;
  color: $color-text-selection;
}
::selection,
input::selection,
textarea::selection {
  background-color: $color-text-selection-background;
  color: $color-text-selection;
}

// ------------------------------------------------------------------------------------------------------------------

// Horizontal Rule

hr {
  border: none;
  border-bottom: $border;
  @extend .fluid;
  .inverted & {
    border-top: $border-inverted;
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Code, Pre & Code Textarea

code {
  color: $code-color;
  background: $code-background;
  border: $code-border;
  border-radius: $code-border-radius;
  @include padding($code-padding);
}

pre {

}

textarea.code {
  overflow: visible;
  min-height: 300px;
  color: $code-color;
  background: $code-background;
  border: $code-border;
  border-radius: $code-border-radius;
  @include padding($code-padding);
  font-size: 1em;
  font-family: "Courier New";
}

span {

  // Tags
  &.tag {
    &:before {
     content: '<';
    }
    &:after {
     content: '>';
    }
  }

  // Attribute
  &.attribute {
    &:after {
      content: '=';
    }
  }

  // Value
  &.value {
    &:before {
      content: '"';
    }
    &:after {
      content: '"';
    }
  }
}

.html.example {
  &:before {
    content: 'Example';
    position: relative;
    display: inline-block;
    background: $color-emphasis-secondary;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9em;
    @include padding(.2, .5);
    @include margin(.2, 0);
    color: $color-text-strong-inverted;
  }
}

