//
// Typography
//
// For typography css references see http://cssreference.io/typography/

// ------------------------------------------------------------------------------------------------------------------

// Size Scaling
$font-size-very-small                      : 1.2rem !default;
$font-size-small                            : 1.4rem !default;
$font-size-normal                           : 1.6rem !default;
$font-size-large                            : 2rem !default;
$font-size-very-large                      : 2.4rem !default;

.very.small {
  font-size: $font-size-very-small;
}
.small {
  font-size: $font-size-small;
}
.normal {
  font-size: $font-size-normal;
}
.large {
  font-size: $font-size-large;
}
.very.large {
  font-size: $font-size-very-large;
}

// ------------------------------------------------------------------------------------------------------------------

// Defaults
//
// These are the basic website default styles. Defined below are only most basic elements.
// Intended to minimise and simply typography management.

// Basics
$font-family                                : "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !default;
$font-size                                  : 1.6em !default;
$font-weight                                : 400 !default;
$letter-spacing                             : .0em !default;
$line-height                                : 1.35 !default;
$text-align                                 : left !default;
$text-decoration                            : none !default;
$text-indent                                : 0 !default;
$text-overflow                              : clip !default;
$text-transform                             : none !default;
$text-color                                      : $text-color-weak !default;
$text-color-inverted                             : $text-color-weak-inverted !default;

// Emphasis
$emphasis-font-weight                       : bolder !default;
$emphasis-font-style                        : italic !default;
$emphasis-color                             : $text-color-strong !default;
$emphasis-color-inverted                    : $text-color-strong-inverted !default;

// Strong
$strong-font-weight                         : bolder !default;
$strong-font-style                          : none !default;
$strong-color                               : $text-color-strong !default;
$strong-color-inverted                      : $text-color-strong-inverted !default;

// Bold
$font-weight-bold                           : bolder !default;

// Italic
$font-style-italic                          : italic !default;

// Underline
$text-decoration-underline                  : underline !default;

// ------------------------------------------------------------------------------------------------------------------

// Title
$title-font-size                            : 3.8em !default;

// Headings
$h1-font-size                               : 3em !default;
$h2-font-size                               : 2.6em !default;
$h3-font-size                               : 2.2em !default;
$h4-font-size                               : 1.8em !default;
$h5-font-size                               : 1.4em !default;
$h6-font-size                               : 1.2em !default;

$heading-color                              : $text-color-strong !default;
$heading-color-inverted                     : $text-color-strong-inverted !default;

// Paragraph spacing
$paragraph-margin-top                       : .5em !default;
$paragraph-margin-bottom                    : .5em !default;







// Anchor Link
$font-link-decoration                       : none !default;
$font-link-decoration-hover                 : none !default;

$text-color-link                            : $color-accent !default;
$text-color-link-visited                    : darken( $color-accent, 0% ) !default;
$text-color-link-hover                      : darken( $color-accent, 10% ) !default;


// Selection Highlight
$text-color-selection                       : $text-color-strong-inverted !default;
$text-color-selection-background            : $color-primary !default;

// Code & Pre
$code-background                            : $color-grey-extra-light !default;
$code-color                                 : $color-grey-extra-dark !default;
$code-border                                : none !default;
$code-border-radius                         : 2px !default;
$code-padding                               : .1 !default;

// ------------------------------------------------------------------------------------------------------------------

// Set base font size
body {
  font-size: $font-size-normal;
}

body,
p,
span,
section,
.content,
h1, h2, h3, h4, h5, h6 {

  // Basics
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-align: $text-align;
  text-decoration: $text-decoration;
  text-indent: $text-indent;
  text-overflow: $text-overflow;
  text-transform: $text-transform;

  // Normal
  @include style(normal){
    color: $text-color;
  }
  // Inverted
  @include style(inverted){
    color: $text-color-inverted;
  }

  // Emphasis
  em {
    font-weight: $emphasis-font-weight;
    font-style: $emphasis-font-style;
    // Normal
    @include style(normal){
      color: $emphasis-color;
    }
    // Inverted
    @include style(inverted){
      color: $emphasis-color-inverted;
    }
  }

  // Strong
  strong {
    font-weight: $strong-font-weight;
    font-style: $strong-font-style;
    // Normal
    @include style(normal){
      color: $strong-color;
    }
    // Inverted
    @include style(inverted){
      color: $strong-color-inverted;
    }
  }

  // Bold
  b {
    font-weight: $font-weight-bold;
  }

  // Italic
  i {
    font-style: $font-style-italic;
  }

  // Underline
  u {
    text-decoration: $text-decoration-underline;
  }

  // Left Align Text (Default)
  &.left,
  .left > & {
    text-align: left;
  }

  // Center Align Text
  &.centered,
  .centered > & {
    text-align: center;
  }

  // Right Align Text
  &.right,
  .right > & {
    text-align: right;
  }

  // Justify Align Text
  &.justified,
  .justified > & {
    text-align: justify;
  }

}

// Headings
h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 0;

  + h1, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 0;
  }

  // Normal
  @include style(normal){
    color: $heading-color;
  }
  // Inverted
  @include style(inverted){
    color: $heading-color-inverted;
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Headings

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

// ------------------------------------------------------------------------------------------------------------------

// Title
//
// Titles act as a parent heading. Ideally used as the primary heading for a page.
// Use of titles is recommended at a theme level, while regular heading are used a content level.

.title {
  font-size: $title-font-size;
}

// ------------------------------------------------------------------------------------------------------------------

// Links

a {
  @include style(normal) {
    color: $text-color-strong;
    text-decoration: $font-link-decoration;
  }
  @include style(hover) {
    color: $text-color-link-hover;
    text-decoration: $font-link-decoration-hover;
  }

  // Link Style inside content area
  article p & {
    @include style(normal) {
      color: $text-color-link;
    }
    @include style(hover) {
      color: $text-color-link-hover;
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Selection Highlighting

::-moz-selection,
input::-moz-selection,
textarea::-moz-selection {
  background-color: $text-color-selection-background;
  color: $text-color-selection;
}
::selection,
input::selection,
textarea::selection {
  background-color: $text-color-selection-background;
  color: $text-color-selection;
}

// ------------------------------------------------------------------------------------------------------------------

// Horizontal Rule

hr {
  border: none;
  width: 100%;

  @include style(normal) {
    border-bottom: $border;
  }

  @include style(inverted) {
    border-bottom: $border-inverted;
  }

  &.fluid {
    @extend .fluid;
  }

  &.padded {
    padding: 0;
    @include margin(1, 0);

    &.relaxed {
      padding: 0;
      @include margin(2, 0);
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Code, Pre & Code Textarea

code {
  color: $code-color;
  background: $code-background;
  border: $code-border;
  border-radius: $code-border-radius;
  @include padding($code-padding);
}

pre {

}

textarea.code {
  overflow: visible;
  min-height: 300px;
  color: $code-color;
  background: $code-background;
  border: $code-border;
  border-radius: $code-border-radius;
  @include padding($code-padding);
  font-size: 1em;
  font-family: "Courier New";
}

// ------------------------------------------------------------------------------------------------------------------

// HTML Preview Area

#page-content {
  .html {

    // Borders
    border: solid $color-grey-light 1px;


    > .label {
      @include margin-top(.7);
      &:first-of-type {
        @include margin-left(.6);
      }
    }

    // Grid Item Container Margins
    &:not(.example){
      .grid .item {
        padding: .1em;
      }
    }
  }

  // Section margins
  article {
    @include margin(2,0);

    > h3:first-child {
      border-bottom: solid $color-grey-light 1px;
      @include padding-bottom(.15);
      @include margin-bottom(.2);
    }

    > .example {
      @include margin-top(.5);
    }
  }
}






// ------------------------------------------------------------------------------------------------------------------

// Overriding Typography Classes

// No Spacing, removes all margins on item for snug fit.
.no.spacing {
  margin: 0;
}