//
// Container
//
// Containers are used as wrappers and give control to the formatting of the site.

// ------------------------------------------------------------------------------------------------------------------

// Container Padding
$container-padding                     : 1.2em !default;
$container-relaxed-padding-mobile      : $container-padding * 2 !default;
$container-relaxed-padding             : $container-padding * 3 !default;

// ------------------------------------------------------------------------------------------------------------------

// Container
//
// The container is a basic class for wrapping and controlling other elements

.container {
  // Container defaults
  width: 100%;
  max-width: $container-max-width;
  padding: 0;

  // Left align container in parent container
  &.left {
    float: left;
  }

  // Center align container in parent container
  &.centered {
    /* Positioning */
    margin-left: auto;
    margin-right: auto;
  }

  // Right align container in parent container
  &.right {
    float: right;
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Fixed & absolute items

.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.fixed,
.absolute {
  z-index: 99999999;
  @extend .animate;

  // Align fixed container to top edge of browser
  .top {
    top: 0;
    @include admin-bar-adjustment(top);
  }

  // Align fixed container to right edge of browser
  .right {
    right: 0;
  }

  // Align fixed container to bottom edge of browser
  .bottom {
    bottom: 0;
  }

  // Align fixed container to left edge of browser
  .left {
    left: 0;
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Padding, Content & Relaxed Padding
//
// These are classes used to create spacing around elements.
// .content only provides horizontal padding by default

// Gives the element padding to create formatting.
.padded,
.content {

  // Default padding
  padding: $container-padding;

  // Offset for default padding
  > .fluid {
    margin: -$container-padding;
  }

  // .relaxed is an extension of padded applying a larger padded area.
  &.relaxed {

    @include media('<=tablet-med') {
      padding: $container-relaxed-padding-mobile;

      // Offset for relaxed padding
      > .fluid {
        // Only add relaxed padding on large displays
        margin: -$container-relaxed-padding-mobile;
      }
    }

    // Only add relaxed padding on large displays
    @include media('>tablet-med') {
      padding: $container-relaxed-padding;

      // Offset for relaxed padding
      > .fluid {
        // Only add relaxed padding on large displays
        margin: -$container-relaxed-padding;
      }
    }
  }
}

// Padding manipulation classes
.padded.horizontally {
  // Default padding
  padding-top: 0;
  padding-bottom: 0;

  // Offset for default padding
  > .fluid {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.padded.vertically {
  // Default padding
  padding-right: 0;
  padding-left: 0;

  // Offset for default padding
  > .fluid {
    margin-right: 0;
    margin-left: 0;
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Fluid container
//
// Spans the full width of the parent container. This is setup to offset
// parent container padding. Using an additional class of top or bottom
// will also offset top and bottom margins accordingly.
//
// The offset margins can be found with the corresponding container type.
// e.g. the offset for content padding is with the .content class styles.

.fluid {
  min-width: 100%;
  width: auto;
  max-width: none;
}

// ------------------------------------------------------------------------------------------------------------------


// Content
//
// Apply the class .content directly around text to apply a padding
// around the text.

.content,
.content.relaxed {
  // Standard Content
  width: auto;
  min-width: 0; // ! Important, This forces container width in flex grid

  padding-top: 0;
  padding-bottom: 0;

  // Adjust for .fluid content
  .fluid {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// ------------------------------------------------------------------------------------------------------------------


// Fitted removes all padding on element
//
// .horizontally  - Only removes the horizontal padding
// .vertically    - Only removes the vertical padding


.fitted:not(.horizontally):not(.vertically) {
  padding: 0;
}

.fitted.horizontally {
  padding-left: 0;
  padding-right: 0;
}

.fitted.vertically {
  padding-top: 0;
  padding-bottom: 0;
}
