
// ------------------------------------------------------------------------------------------------------------------

// Menu
//
// Based off the semantic ui menu, this is a collection of menu classes
// designed to work with the default WordPress menu.
//
// The menu uses the Flexbox Grid System. The .menu class has been
// assigned the required flexbox properties and all additional grid
// classes should work just with the menu.
//
// http://semantic-ui.com/collections/menu.html

// ------------------------------------------------------------------------------------------------------------------

// Variables

// Box Sizing
$menu-item-height:                                $standard-field-height !default;

$menu-item-top-level-padding-top:                 1em !default;
$menu-item-top-level-padding-right:               1em !default;
$menu-item-top-level-padding-bottom:              1em !default;
$menu-item-top-level-padding-left:                1em !default;



$sub-menu-padding-top:                            0 !default;
$sub-menu-padding-bottom:                         0 !default;

$sub-menu-item-indent:                            1.5em !default;
$sub-menu-item-padding-top:                       .45em !default;
$sub-menu-item-padding-bottom:                    .45em !default;



// Colour
$menu-item-top-level-background:                  rgba($color-black, 0) !default;
$menu-item-top-level-background-hover:            rgba($color-black, .03) !default;
$menu-item-top-level-background-inverted:         rgba($color-white, 0) !default;
$menu-item-top-level-background-inverted-hover:   rgba($color-white, .03) !default;

$menu-sub-level-background:                       $color-grey-extra-dark !default;

$menu-item-sub-level-background:                  rgba($color-white, 1) !default;
$menu-item-sub-level-background-hover:            rgba($color-black, .03) !default;
$menu-item-sub-level-background-inverted:         rgba($color-white, 1) !default;
$menu-item-sub-level-background-inverted-hover:   rgba($color-white, 1) !default;

// Typography
$menu-item-color:                                 $text-color !default;
$menu-item-color-hover:                           $text-color-strong !default;
$menu-item-color-inverted:                        $text-color-inverted !default;
$menu-item-color-inverted-hover:                  $text-color-strong-inverted !default;

$menu-item-secondary-color:                       $text-color-weak !default;
$menu-item-secondary-color-hover:                 $text-color-strong !default;
$menu-item-secondary-color-inverted:              $text-color-weak-inverted !default;
$menu-item-secondary-color-inverted-hover:        $text-color-strong-inverted !default;


// ------------------------------------------------------------------------------------------------------------------

// Menu Defaults
//
// These are universal styles that are applied to all menus.

.menu {
  margin: 0;
  list-style: none;

  // Top Level Menu Items
  .item {
    position: relative;

    a {
      // Flex display is used for vertically centering menu item text, this is more graceful than alternative methods.
      @include flexbox;
      @include align-items(center);

      min-height: $menu-item-height;
      padding: $menu-item-top-level-padding-top $menu-item-top-level-padding-right $menu-item-top-level-padding-bottom $menu-item-top-level-padding-left;
      margin: 0;

    }

    .sub-menu {
      @extend .animate-slow;

      .item a {

      }
    }
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Basic Menu

.menu {
  .item {
    a {
      @include style(normal){
        color: $menu-item-color;
        background: $menu-item-top-level-background;
      }

      @include style(inverted){
        color: $menu-item-color-inverted;
        background: $menu-item-top-level-background-inverted;
      }

      @include style(hover){
        color: $menu-item-color-hover;
        background: $menu-item-top-level-background-hover;
      }

      @include style(inverted-hover){
        color: $menu-item-color-inverted-hover;
        background: $menu-item-top-level-background-inverted-hover;
      }
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Sub-menus by default are specially formatted for appearance and hierarchy

.menu {

  .item:not(.dropdown):not(.expand):not(.slide){
    > .menu,
    > .sub-menu {

      padding: $sub-menu-padding-top 0 $sub-menu-padding-bottom;

      > .item {

        > a {

          padding: $sub-menu-item-padding-top $sub-menu-item-indent $sub-menu-item-padding-bottom;

          @include style(normal){
            color: $menu-item-secondary-color;
            background: $menu-item-top-level-background;
          }

          @include style(inverted){
            color: $menu-item-secondary-color-inverted;
            background: $menu-item-top-level-background-inverted;
          }

          @include style(hover){
            color: $menu-item-secondary-color-hover;
            background: $menu-item-top-level-background-hover;
          }

          @include style(inverted-hover){
            color: $menu-item-secondary-color-inverted-hover;
            background: $menu-item-top-level-background-inverted-hover;
          }
        }

        > .sub-menu > .item:not(.dropdown):not(.dropdown) {
          > .item > a {

            padding: 0 $sub-menu-item-indent * 2;

          }
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------

// Dropdown sub menu

.dropdown.item {

  > .sub-menu {
    // Display sub menus as a column / vertical
    @include flex-direction(column);

    // Default hidden position
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 55555;
    width: 100%;

    background: $color-white;

  }

  // Hover Styles
  &:hover > .sub-menu,
  .sub-menu:hover {
    visibility: visible;
    opacity: 1;
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Expand Sub Menu

.expand.item {
  @extend .dropdown.item;

  > .menu,
  > .sub-menu {
    position: relative;
    max-height: 0;
    width: 100%;

    @extend .animate-slow;
  }

  // Hover Styles
  &:hover > .menu,
  &:hover > .sub-menu,
  .menu:hover,
  .sub-menu:hover {
    max-height: 500px;
  }

}


// ------------------------------------------------------------------------------------------------------------------

// Slide Out Sub Menu

.slide.item {
  @extend .dropdown.item;

  > .menu,
  > .sub-menu {
    left: 100%;
    top: 0;
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Menu Icons

// Icon Defaults, Dropdown Icon & Expand Icon
.dropdown.item.menu-item-has-children,
.expand.item.menu-item-has-children,
.slide.item.menu-item-has-children {
  > a {
    &:after {
      content: '\f107';
      font-family: $icon-font-family;
      padding-left: .6em;
    }
  }
}

// Slide Icon
.slide.item.menu-item-has-children {
  > a {
    &:after {
      content: '\f105';
    }
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Full height menu
//
// For use in areas such as the Header Bar
.menu.full.height > .item,
.menu.full.height > .item a {
  height: 100%;
}