
// ------------------------------------------------------------------------------------------------------------------

// Menu
//
// Based off the semantic ui menu, this is a collection of menu classes
// designed to work with the default WordPress menu.
//
// The menu uses the Flexbox Grid System. The .menu class has been
// assigned the required flexbox properties and all additional grid
// classes should work just with the menu.
//
// http://semantic-ui.com/collections/menu.html

// ------------------------------------------------------------------------------------------------------------------

// Variables

// Box Sizing
$menu-item-height:                                $standard-field-height !default;

$menu-item-top-level-padding-top:                 .35 !default;
$menu-item-top-level-padding-right:               .35 !default;
$menu-item-top-level-padding-bottom:              .35 !default;
$menu-item-top-level-padding-left:                .35 !default;

// Colour

$menu-item-top-level-background:                  rgba($color-black, 0) !default;
$menu-item-top-level-background-hover:            rgba($color-black, .03) !default;
$menu-item-top-level-background-inverted:         rgba($color-white, 0) !default;
$menu-item-top-level-background-inverted-hover:   rgba($color-white, .03) !default;

$menu-sub-level-background:                       $color-grey-extra-dark !default;

$menu-item-sub-level-background:                  rgba($color-white, 1) !default;
$menu-item-sub-level-background-hover:            rgba($color-black, .03) !default;
$menu-item-sub-level-background-inverted:         rgba($color-white, 1) !default;
$menu-item-sub-level-background-inverted-hover:   rgba($color-white, 1) !default;

// Typography


// ------------------------------------------------------------------------------------------------------------------

// Menu Defaults
//
// These are universal styles that are applied to all menus.

.menu {
  margin: 0;
  list-style: none;

  // Top Level Menu Items
  .item {
    position: relative;


    a {
      // Flex display is used for vertically centering menu item text, this is more graceful than alternative methods.
      @include flexbox;
      @include align-items(center);

      min-height: $menu-item-height;
      @include padding( $menu-item-top-level-padding-top, $menu-item-top-level-padding-right, $menu-item-top-level-padding-bottom, $menu-item-top-level-padding-left);
      margin: 0;

    }

    .sub-menu {
      @extend .animate-slow;

      .item a {

      }
    }
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Basic Menu

.menu {
  .item {
    a {
      @include style(normal){
        background: $menu-item-top-level-background;
      }

      @include style(inverted){
        background: $menu-item-top-level-background-inverted;
      }

      @include style(hover){
        background: $menu-item-top-level-background-hover;
      }

      @include style(inverted-hover){
        background: $menu-item-top-level-background-inverted-hover;
      }
    }
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Dropdown sub menu

.dropdown.item {

  > .menu,
  > .sub-menu {
    // Display sub menus as a column / vertical
    @include flex-direction(column);

    // Default hidden position
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 55555;
    width: 100%;

    background: $color-white;

  }

  // Hover Styles
  &:hover > .menu,
  &:hover > .sub-menu,
  .menu:hover,
  .sub-menu:hover {
    visibility: visible;
    opacity: 1;
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Expand Sub Menu

.expand.item {
  @extend .dropdown.item;

  > .menu,
  > .sub-menu {
    position: relative;
    max-height: 0;
    width: 100%;

    @extend .animate-slow;
  }

  // Hover Styles
  &:hover > .menu,
  &:hover > .sub-menu,
  .menu:hover,
  .sub-menu:hover {
    max-height: 500px;
  }

}


// ------------------------------------------------------------------------------------------------------------------

// Slide Out Sub Menu

.slide.item {
  @extend .dropdown.item;

  > .menu,
  > .sub-menu {
    left: 100%;
    top: 0;
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Menu Icons

// Icon Defaults, Dropdown Icon & Expand Icon
.dropdown.item.menu-item-has-children,
.expand.item.menu-item-has-children,
.slide.item.menu-item-has-children {
  > a {
    &:after {
      content: '\f107';
      font-family: $icon-font-family;
      @include padding-left(0.2);
    }
  }
}

// Slide Icon
.slide.item.menu-item-has-children {
  > a {
    &:after {
      content: '\f105';
    }
  }
}


// ------------------------------------------------------------------------------------------------------------------

// Full height menu
//
// For use in areas such as the Header Bar
.menu.full.height > .item,
.menu.full.height > .item a {
  height: 100%;
}






//.menu {
//  @include flexbox;
//
//  .menu-item {
//    @include flexbox;
//    @include align-self(center);
//
//    position: relative;
//
//
//    a {
//      @include padding(0.5);
//
//      &:hover {
//        background: rgba($color-white, 0.1);
//      }
//    }
//
//    //* Call to action button
//    &.button {
//      a {
//
//      }
//    }
//
//    .sub-menu {
//      display: none;
//      position: absolute;
//      margin: 0px;
//      top: 100%; // Corrects position
//      background: rgba($color-primary, 1);
//      z-index: 9999999;
//
//      .menu-item {
//        a {
//          width: 100%;
//          min-width: 240px;
//        }
//      }
//    }
//
//    &:hover .sub-menu {
//      display: block;
//    }
//  }
//
//  //* Menu Item With Children
//  > .menu-item-has-children {
//
//    > a {
//      &:after {
//        content: '\f107';
//        font-family: $font-icon-family;
//        @include padding-left(0.2);
//      }
//    }
//  }
//}