.extra.small {
  font-size: 0.6rem;
}

.small {
  font-size: 0.8rem;
}

.normal {
  font-size: 1rem;
}

.large {
  font-size: 1.2rem;
}

.extra.large {
  font-size: 1.4rem;
}

body,
p,
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.35;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-overflow: clip;
  text-transform: none;
}

body em,
p em,
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-weight: bolder;
}

body strong,
p strong,
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: bolder;
}

body b,
p b,
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b {
  font-weight: bolder;
}

body i,
p i,
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
  font-style: italic;
}

body u,
p u,
h1 u, h2 u, h3 u, h4 u, h5 u, h6 u {
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}
